<po-page-default p-title="LINKS PARA DOWNLOAD">
    <po-widget 
        p-title="Links de aplicativos">
        <h4>Prezado(a) usuário(a) , <br>
            
            Gostaríamos de informar que alguns links essenciais precisam ser inseridos manualmente em seu navegador de internet para acessar conteúdos importantes. Certifique-se de copiar e colar os links fornecidos abaixo na barra de endereços do seu navegador preferido.</h4><br><br>
        <ul *ngFor="let link of linksApp" >
            <h3>{{link.label}}</h3>
            <h4>{{link.link}}</h4><br>
        </ul>
        <po-divider></po-divider>   
        <h4>Links de aplicativos via Downloader</h4><br>
        <h4>Códigos curtos para DownLoader - Firestick & Android TV/Box:
        <br>Basta apenas por código dentro do app Downloader e vai baixar qualquer um desses aplicativos.</h4>
        <ul *ngFor="let link of linksDownloader">
            <h4>{{link.label}}</h4>
            <h2>{{link.codigo}}</h2><br>
        </ul>
    </po-widget>
</po-page-default>