<po-page-default p-title="TUTORIAIS">
    <po-widget>
        <po-container>
            <h2>Aqui estão alguns vídeos para auxiliar na instalação e configuração de alguns aplicativos utilizados.</h2>
        </po-container>
        <br>
        <div class="tutors" *ngFor="let video of videos">         
            <section >
                <po-label p-label={{video.title}}></po-label>
                <iframe class="card-video" 
                    [src]="getSafeUrl(video.url)"
                    allow="accelerometer; gyroscope; web-share" allowfullscreen>
                </iframe>
            </section>
        </div>
    </po-widget>
</po-page-default>


