/* You can add global styles to this file, and also import other style files */
.po-container, .po-page-content, .po-menu-inner, div,
.po-menu-header-container-logo, .po-menu-filter-container, .po-page-header{
    background-color: rgb(44, 40, 40) !important;
}

.po-button{
    color: #fff !important;
    border: 2px solid #fff !important;
}

h4, h3 , h2, h1, a, i, .po-fonts-icon, .po-label, .po-menu-icon-label{
    color: #ffffffc2 !important;
}

.po-menu-item{
    background-color: transparent !important;
}

.po-menu-filter-close-icon-container, .po-menu-filter-search-icon-container{
    background-color:transparent !important;
}





